[submodule "lib/laskakit_epaper"]
	path = lib/laskakit_epaper
	url = https://github.com/LaskaKit/laskakit_epaper.git
[submodule "lib/laskakit_zivyobraz_client"]
	path = lib/laskakit_zivyobraz_client
	url = https://github.com/LaskaKit/laskakit_zivyobraz_client.git
[submodule "lib/QRCode"]
	path = lib/QRCode
	url = https://github.com/ricmoo/QRCode.git
